*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #2c3e50;
  text-decoration: none;
}
a:hover {
  color: #4569d4;
}
ol {
  list-style-type:none;
}
img{
  width:100%;
  height:100%;
  object-fit:cover;
}
body {
  background-color: white;
}